In [46]:
import pandas as pd

In [47]:
url_name = 'https://www.sofascore.com/colombia-venezuela/xUbsvWb#11518409'

import requests

headers = {
    'authority': 'api.sofascore.com',
    'accept': '*/*',
    'accept-language': 'es,es-ES;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6',
    'cache-control': 'max-age=0',
    'if-none-match': 'W/"e22c025662"',
    'origin': 'https://www.sofascore.com',
    'referer': 'https://www.sofascore.com/',
    'sec-ch-ua': '"Chromium";v="116", "Not)A;Brand";v="24", "Microsoft Edge";v="116"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-site',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36 Edg/116.0.1938.62',
}

response = requests.get('https://api.sofascore.com/api/v1/event/11518409/shotmap', headers=headers)

In [48]:
response.status_code

200

In [49]:
headers['If-Modified-Since'] = 'Mon, 28 Aug 2023 00:00:00 GMT'

### SHOTMAP

In [50]:
response = requests.get('https://api.sofascore.com/api/v1/event/11518409/shotmap', headers=headers)

In [51]:
response.status_code

200

In [52]:
shots = response.json()

In [53]:
df = pd.DataFrame(shots)
testing = pd.DataFrame(df['shotmap'][1])
# test_two = pd.DataFrame(testing['draw']['start'])

print('addedTime' in testing.columns)
testing

True

,player,isHome,shotType,situation,playerCoordinates,bodyPart,goalMouthLocation,goalMouthCoordinates,id,time,addedTime,timeSeconds,draw,reversedPeriodTime,reversedPeriodTimeSeconds,incidentType
name,Jorge Carrascal,True,miss,assisted,NaN,left-foot,high-left,NaN,2190216,90,3,5568,NaN,1,732,shot
slug,jorge-carrascal,True,miss,assisted,NaN,left-foot,high-left,NaN,2190216,90,3,5568,NaN,1,732,shot
shortName,J. Carrascal,True,miss,assisted,NaN,left-foot,high-left,NaN,2190216,90,3,5568,NaN,1,732,shot
position,F,True,miss,assisted,NaN,left-foot,high-left,NaN,2190216,90,3,5568,NaN,1,732,shot
userCount,2200,True,miss,assisted,NaN,left-foot,high-left,NaN,2190216,90,3,5568,NaN,1,732,shot
id,590392,True,miss,assisted,NaN,left-foot,high-left,NaN,2190216,90,3,5568,NaN,1,732,shot
x,NaN,True,miss,assisted,23.1,left-foot,high-left,0.0,2190216,90,3,5568,NaN,1,732,shot
y,NaN,True,miss,assisted,64.6,left-foot,high-left,72.9,2190216,90,3,5568,NaN,1,732,shot
z,NaN,True,miss,assisted,0.0,left-foot,high-left,87.5,2190216,90,3,5568,NaN,1,732,shot
start,NaN,True,miss,assisted,NaN,left-foot,high-left,NaN,2190216,90,3,5568,"{'x': 64.6, 'y': 23.1}",1,732,shot
end,NaN,True,miss,assisted,NaN,left-foot,high-left,NaN,2190216,90,3,5568,"{'x': 27.1, 'y': 0}",1,732,shot
goal,NaN,True,miss,assisted,NaN,left-foot,high-left,NaN,2190216,90,3,5568,"{'x': 27.1, 'y': 12.5}",1,732,shot

In [54]:
### Iterate shit
data = {
    'player': [],
    'shortName': [],
    'shotType': [],
    'isHome': [],
    'bodyPart': [],
    'xG': [],
    'minute': [],
    'addedTime': [],
    'start': [],
    'block': [],
    'end': [],
    'goal': [],
    'position': [],
}

In [55]:
# player_one = pd.DataFrame(df['shotmap'][0])
# player_name = player_one['player']['name']
# player_name

#### OVERALL
for i in range(len(df)-1): 
    ### Systematic data:
    ## NAMES
    player_one = pd.DataFrame(df['shotmap'][i])
    # Appending data
    data['player'].append(player_one['player']['name'])
    ### Short name
    data['shortName'].append(player_one['player']['shortName'])
    ### Position
    data['position'].append(player_one['player']['position'])
    ### isHome
    data['isHome'].append(player_one['isHome']['name'])
    ## ShotType
    data['shotType'].append(player_one['shotType']['name'])
    ### bodyPart
    data['bodyPart'].append(player_one['bodyPart']['name'])
    ### xG
    if 'xg' in player_one.columns: 
        data['xG'].append(player_one['xg']['name'])
    else:
        data['xG'].append(pd.NA)
    ### Minute
    data['minute'].append(player_one['time']['name'])
    ### Added-time
    if 'addedTime' in player_one.columns:
        data['addedTime'].append(player_one['addedTime']['name'])
    else:
         data['addedTime'].append(pd.NA)

    #### Scrap inside of it
    # Start
    start = pd.DataFrame(player_one['draw']['start'], index=[0])
    data['start'].append(start)

    # block
    if 'block' in player_one['draw'].index:
        block = pd.DataFrame(player_one['draw']['block'], index=[0])
        data['block'].append(block)
    else:
         data['block'].append(pd.NA)

    # endpoint
    endPoint = pd.DataFrame(player_one['draw']['end'], index=[0])
    data['end'].append(endPoint)

    # goal 
    goal = pd.DataFrame(player_one['draw']['goal'], index=[0])
    data['goal'].append(goal)

In [72]:
df_shots = pd.DataFrame(data).iloc[::-1].reset_index(drop=True)
df_shots[df_shots['isHome'] == False]['end'][0]

      x  y
0  41.8  0

## BEST PLAYERS

In [57]:
best_players = requests.get('https://api.sofascore.com/api/v1/event/11518409/best-players', headers=headers)

In [58]:
best_players.status_code

200

In [59]:
best_pl = response.json()
df_players = pd.DataFrame(best_pl)

In [60]:
df_players

                                              shotmap
0   {'player': {'name': 'Rómulo Otero', 'slug': 'r...
1   {'player': {'name': 'Jorge Carrascal', 'slug':...
2   {'player': {'name': 'Jhon Durán', 'firstName':...
3   {'player': {'name': 'Jhon Durán', 'firstName':...
4   {'player': {'name': 'Luis Díaz', 'slug': 'luis...
5   {'player': {'name': 'Jefferson Lerma', 'slug':...
6   {'player': {'name': 'Luis Díaz', 'slug': 'luis...
7   {'player': {'name': 'Josef Martínez', 'slug': ...
8   {'player': {'name': 'Jorge Carrascal', 'slug':...
9   {'player': {'name': 'Luis Díaz', 'slug': 'luis...
10  {'player': {'name': 'Mateus Uribe', 'slug': 'm...
11  {'player': {'name': 'Rafael Santos Borré', 'sl...
12  {'player': {'name': 'Jefferson Lerma', 'slug':...
13  {'player': {'name': 'Mateus Uribe', 'slug': 'm...
14  {'player': {'name': 'Darwin Machís', 'firstNam...
15  {'player': {'name': 'Darwin Machís', 'firstNam...
16  {'player': {'name': 'Luis Díaz', 'slug': 'luis...
17  {'player': {'name': 'Yangel Herrera', 'slug': ...
18  {'player': {'name': 'Wilker Ángel', 'slug': 'w...
19  {'player': {'name': 'Jefferson Savarino', 'fir...