In [1]:
import pandas as pd
import requests
import re
import datetime

In [2]:
import sys
sys.path.append('../')
from classes.sofaScore import sofaScore

In [3]:
data = sofaScore()

In [4]:
url_name = 'https://www.sofascore.com/colombia-venezuela/xUbsvWb#11518409'
match = re.search(r'\d+$', url_name)

if match:
    last_number = match.group()
    print(last_number)
else:
    print('No number found in the URL')

11518409

In [5]:
headers = {
    'authority': 'api.sofascore.com',
    'accept': '*/*',
    'accept-language': 'es,es-ES;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6',
    'cache-control': 'max-age=0',
    'if-none-match': 'W/"e22c025662"',
    'origin': 'https://www.sofascore.com',
    'referer': 'https://www.sofascore.com/',
    'sec-ch-ua': '"Chromium";v="116", "Not)A;Brand";v="24", "Microsoft Edge";v="116"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-site',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36 Edg/116.0.1938.62',
}

response = requests.get('https://api.sofascore.com/api/v1/event/11518409/shotmap', headers=headers)

In [6]:
response.status_code

200

In [7]:
headers['If-Modified-Since'] = data.current_timezone()

### SHOTMAP

In [8]:
response = requests.get('https://api.sofascore.com/api/v1/event/11352816/shotmap', headers=headers)

In [9]:
response.status_code

200

In [10]:
shots = response.json()

In [11]:
df = pd.DataFrame(shots)
testing = pd.DataFrame(df['shotmap'][0])
# test_two = pd.DataFrame(testing['draw']['start'])

print('addedTime' in testing.columns)
testing

True

,player,isHome,shotType,situation,playerCoordinates,bodyPart,goalMouthLocation,goalMouthCoordinates,blockCoordinates,xg,xgot,id,time,addedTime,timeSeconds,draw,reversedPeriodTime,reversedPeriodTimeSeconds,incidentType
name,Anthony Markanich,False,save,regular,NaN,left-foot,low-centre,NaN,NaN,0.025224,0.017,2193499,90,10,5956,NaN,1,344,shot
firstName,Anthony Markanich,False,save,regular,NaN,left-foot,low-centre,NaN,NaN,0.025224,0.017,2193499,90,10,5956,NaN,1,344,shot
lastName,,False,save,regular,NaN,left-foot,low-centre,NaN,NaN,0.025224,0.017,2193499,90,10,5956,NaN,1,344,shot
slug,anthony-markanich,False,save,regular,NaN,left-foot,low-centre,NaN,NaN,0.025224,0.017,2193499,90,10,5956,NaN,1,344,shot
shortName,A. Markanich,False,save,regular,NaN,left-foot,low-centre,NaN,NaN,0.025224,0.017,2193499,90,10,5956,NaN,1,344,shot
position,D,False,save,regular,NaN,left-foot,low-centre,NaN,NaN,0.025224,0.017,2193499,90,10,5956,NaN,1,344,shot
userCount,14,False,save,regular,NaN,left-foot,low-centre,NaN,NaN,0.025224,0.017,2193499,90,10,5956,NaN,1,344,shot
id,1172471,False,save,regular,NaN,left-foot,low-centre,NaN,NaN,0.025224,0.017,2193499,90,10,5956,NaN,1,344,shot
x,NaN,False,save,regular,11.8,left-foot,low-centre,0.0,2.0,0.025224,0.017,2193499,90,10,5956,NaN,1,344,shot
y,NaN,False,save,regular,24.9,left-foot,low-centre,50.5,47.1,0.025224,0.017,2193499,90,10,5956,NaN,1,344,shot
z,NaN,False,save,regular,0.0,left-foot,low-centre,10.1,0.0,0.025224,0.017,2193499,90,10,5956,NaN,1,344,shot
start,NaN,False,save,regular,NaN,left-foot,low-centre,NaN,NaN,0.025224,0.017,2193499,90,10,5956,"{'x': 24.9, 'y': 11.8}",1,344,shot
block,NaN,False,save,regular,NaN,left-foot,low-centre,NaN,NaN,0.025224,0.017,2193499,90,10,5956,"{'x': 47.1, 'y': 2}",1,344,shot
end,NaN,False,save,regular,NaN,left-foot,low-centre,NaN,NaN,0.025224,0.017,2193499,90,10,5956,"{'x': 49.5, 'y': 0}",1,344,shot
goal,NaN,False,save,regular,NaN,left-foot,low-centre,NaN,NaN,0.025224,0.017,2193499,90,10,5956,"{'x': 49.5, 'y': 89.9}",1,344,shot

In [12]:
### Iterate shit
data = {
    'player': [],
    'shortName': [],
    'shotType': [],
    'isHome': [],
    'bodyPart': [],
    'xG': [],
    'minute': [],
    'addedTime': [],
    'start': [],
    'block': [],
    'end': [],
    'goal': [],
    'position': [],
}

In [13]:
# player_one = pd.DataFrame(df['shotmap'][0])
# player_name = player_one['player']['name']
# player_name

#### OVERALL
for i in range(len(df)-1): 
    ### Systematic data:
    ## NAMES
    player_one = pd.DataFrame(df['shotmap'][i])
    # Appending data
    data['player'].append(player_one['player']['name'])
    ### Short name
    data['shortName'].append(player_one['player']['shortName'])
    ### Position
    data['position'].append(player_one['player']['position'])
    ### isHome
    data['isHome'].append(player_one['isHome']['name'])
    ## ShotType
    data['shotType'].append(player_one['shotType']['name'])
    ### bodyPart
    data['bodyPart'].append(player_one['bodyPart']['name'])
    ### xG
    if 'xg' in player_one.columns: 
        data['xG'].append(player_one['xg']['name'])
    else:
        data['xG'].append(pd.NA)
    ### Minute
    data['minute'].append(player_one['time']['name'])
    ### Added-time
    if 'addedTime' in player_one.columns:
        data['addedTime'].append(player_one['addedTime']['name'])
    else:
         data['addedTime'].append(pd.NA)

    #### Scrap inside of it
    # Start
    start = pd.DataFrame(player_one['draw']['start'], index=[0])
    data['start'].append(start)

    # block
    if 'block' in player_one['draw'].index:
        block = pd.DataFrame(player_one['draw']['block'], index=[0])
        data['block'].append(block)
    else:
         data['block'].append(pd.NA)

    # endpoint
    endPoint = pd.DataFrame(player_one['draw']['end'], index=[0])
    data['end'].append(endPoint)

    # goal 
    goal = pd.DataFrame(player_one['draw']['goal'], index=[0])
    data['goal'].append(goal)

In [14]:
df_shots = pd.DataFrame(data).iloc[::-1].reset_index(drop=True)

## BEST PLAYERS

In [15]:
best_players = requests.get('https://api.sofascore.com/api/v1/event/11518409/best-players', headers=headers)

In [16]:
best_players.status_code

200

In [17]:
best_pl = best_players.json()
df_players = pd.DataFrame(best_pl)

In [18]:
data_player = {
    'home': [],
    'away': [],
}

labels = ['name', 'rating', 'position', 'birth']

In [19]:
### FUNCTION OF TIMESTAP:
def get_birth(timestap): 
    date_of_birth = datetime.datetime.fromtimestamp(timestap)
    formatted_date = date_of_birth.strftime('%Y-%m-%d')
    return formatted_date

In [20]:
#### FUNCTION CONVERT PLAYER INFO:
def convert_player(data):
    player = pd.DataFrame([data])
    player['dateOfBirthTimestamp'] = get_birth(player['dateOfBirthTimestamp'][0])

    return player

In [21]:
#### Grab the datetime:
timestap = 833068800

date_of_birth = datetime.datetime.fromtimestamp(timestap)
formatted_date = date_of_birth.strftime('%Y-%m-%d')
print(formatted_date)

### Home
df_players['bestHomeTeamPlayer']['player'] = convert_player(df_players['bestHomeTeamPlayer']['player'])
### Away
df_players['bestAwayTeamPlayer']['player'] = convert_player(df_players['bestAwayTeamPlayer']['player'])

1996-05-25

In [22]:
df_players['bestAwayTeamPlayer'] ['player']

,name,slug,shortName,position,userCount,id,marketValueCurrency,dateOfBirthTimestamp
0,Alexander González,alexander-gonzalez,A. González,D,223,108152,EUR,1992-09-12

## Graph:

In [23]:
### Graph call:
response_graph = requests.get('https://api.sofascore.com/api/v1/event/10752488/graph', headers=headers)

In [24]:
response_graph.status_code

200

In [26]:
graph = response_graph.json()

{'graphPoints': [{'minute': 1, 'value': 3},
  {'minute': 2, 'value': 17},
  {'minute': 3, 'value': 29},
  {'minute': 4, 'value': 69},
  {'minute': 5, 'value': 40},
  {'minute': 6, 'value': 16},
  {'minute': 7, 'value': 20},
  {'minute': 8, 'value': 8},
  {'minute': 9, 'value': -22},
  {'minute': 10, 'value': -8},
  {'minute': 11, 'value': -2},
  {'minute': 12, 'value': 3},
  {'minute': 13, 'value': 10},
  {'minute': 14, 'value': 11},
  {'minute': 15, 'value': 41},
  {'minute': 16, 'value': -35},
  {'minute': 17, 'value': 20},
  {'minute': 18, 'value': -30},
  {'minute': 19, 'value': -68},
  {'minute': 20, 'value': -41},
  {'minute': 21, 'value': -20},
  {'minute': 22, 'value': -17},
  {'minute': 23, 'value': -34},
  {'minute': 24, 'value': -34},
  {'minute': 25, 'value': -18},
  {'minute': 26, 'value': -37},
  {'minute': 27, 'value': -5},
  {'minute': 28, 'value': -3},
  {'minute': 29, 'value': 42},
  {'minute': 30, 'value': 19},
  {'minute': 31, 'value': 7},
  {'minute': 32, 'value': 10},
  {'minute': 33, 'value': 66},
  {'minute': 34, 'value': 35},
  {'minute': 35, 'value': 46},
  {'minute': 36, 'value': -52},
  {'minute': 37, 'value': -6},
  {'minute': 38, 'value': -13},
  {'minute': 39, 'value': -10},
  {'minute': 40, 'value': -9},
  {'minute': 41, 'value': -3},
  {'minute': 42, 'value': -4},
  {'minute': 43, 'value': -42},
  {'minute': 44, 'value': -29},
  {'minute': 45, 'value': -43},
  {'minute': 45.5, 'value': -15},
  {'minute': 46, 'value': -4},
  {'minute': 47, 'value': 5},
  {'minute': 48, 'value': 7},
  {'minute': 49, 'value': 2},
  {'minute': 50, 'value': -10},
  {'minute': 51, 'value': -20},
  {'minute': 52, 'value': -38},
  {'minute': 53, 'value': -29},
  {'minute': 54, 'value': -56},
  {'minute': 55, 'value': -39},
  {'minute': 56, 'value': -84},
  {'minute': 57, 'value': -54},
  {'minute': 58, 'value': -36},
  {'minute': 59, 'value': -24},
  {'minute': 60, 'value': -24},
  {'minute': 61, 'value': 10},
  {'minute': 62, 'value': -5},
  {'minute': 63, 'value': -7},
  {'minute': 64, 'value': -8},
  {'minute': 65, 'value': -26},
  {'minute': 66, 'value': -15},
  {'minute': 67, 'value': 9},
  {'minute': 68, 'value': 8},
  {'minute': 69, 'value': 7},
  {'minute': 70, 'value': 9},
  {'minute': 71, 'value': 9},
  {'minute': 72, 'value': 8},
  {'minute': 73, 'value': 1},
  {'minute': 74, 'value': 4},
  {'minute': 75, 'value': 30},
  {'minute': 76, 'value': 21},
  {'minute': 77, 'value': 13},
  {'minute': 78, 'value': -16},
  {'minute': 79, 'value': 8},
  {'minute': 80, 'value': -3},
  {'minute': 81, 'value': 11},
  {'minute': 82, 'value': 16},
  {'minute': 83, 'value': 35},
  {'minute': 84, 'value': 14},
  {'minute': 85, 'value': 18},
  {'minute': 86, 'value': 17},
  {'minute': 87, 'value': 12},
  {'minute': 88, 'value': 9},
  {'minute': 89, 'value': 16},
  {'minute': 90, 'value': 12},
  {'minute': 90.5, 'value': 51}],
 'periodTime': 45,
 'periodCount': 2}

In [36]:
graph_count = pd.DataFrame(graph)

data = {
    'min': [],
    'value': [],
    'periodTime': [],
    'periodCount': [],
}
graph_count

                      graphPoints  periodTime  periodCount
0       {'minute': 1, 'value': 3}          45            2
1      {'minute': 2, 'value': 17}          45            2
2      {'minute': 3, 'value': 29}          45            2
3      {'minute': 4, 'value': 69}          45            2
4      {'minute': 5, 'value': 40}          45            2
..                            ...         ...          ...
87    {'minute': 87, 'value': 12}          45            2
88     {'minute': 88, 'value': 9}          45            2
89    {'minute': 89, 'value': 16}          45            2
90    {'minute': 90, 'value': 12}          45            2
91  {'minute': 90.5, 'value': 51}          45            2

[92 rows x 3 columns]

In [34]:
point = pd.DataFrame([graph_count['graphPoints'][0]])

points_df = []

for i in range(len(graph_count)-1):
    grab_point = pd.DataFrame([graph_count['graphPoints'][0]])
    points_df[]

   minute  value
0       1      3